matplotlib==3.4.3
scipy==1.7.1
h5py==3.1.0
Markdown==3.1.1
tensorflow-cpu==2.6.0
streamlit==1.0.0
numpy==1.21.2
imageio==2.9.0
requests==2.22.0
keras==2.6.0
six==1.14.0
docs==0.1.0
keras_applications==1.0.8
pathlib2==2.3.6
Pillow==8.3.2
pycocotools==2.0.2
PyGithub==1.55
pytest==6.2.5
sacred==0.8.2
skimage==0.0
theano==1.0.5
